@model AuditoriskaMvc1.Models.MovieRentals

@{
    ViewBag.Title = "Random movie";
}

<h2>@Model.movie.Name</h2>

<h3>Download from <a href="@Model.movie.DownloadURL">this link.</a></h3>

<h5>Rating: @Model.movie.Rating</h5>

<img src="@Model.movie.ImageURL" />
<ul>
    @{
        int i = 0;
        foreach (var client in Model.clients)
        {
            <li>
                <a href="ShowClient/@i">@client.Name, @client.MovieCard</a>
            </li>
            i++;
        }

    }
</ul>